*{
    font-family: 'Segoe UI';
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

body{
    background: #CD5C5C;
    width: 100%;
    height: 100%;
    margin: 0px;
}
.titulo{
    font-size: 2em;
    text-align: center;
}
.todo img{
    height: 1000px;
    z-index: -1;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.4);
}
.text{
    position: absolute;
    top: 30%;
    left: 40%;
    z-index: 9999;
    font-size: 3em;
    color: #fff;
}

.name{
    position: absolute;
    left: 0;
    right: 0;
    font-size: 1.6em;
    margin: auto;
    text-align: center;
    top: 320px;
    font-size: 80px;
    font-weight: 600;
    cursor: pointer;
    color: white;
}
.carta{
	margin: 4%;
	perspective: 800;
}

.tarjeta{
	width: 350px;
	height: 350px;
	background: #f9e79f;
	position: relative;
	transform-style: preserve-3d;
	transition: .7s ease;
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);

}

.adelante, .atras{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
}

.adelante{
	width: 100%;
}

.atras{
	transform: rotateY(180deg);
	padding: 15px;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: black;
	font-family: "open sans";
}

.carta:hover .tarjeta{
	transform: rotateY(180deg);
}

.card2{
	background-image: url(../img/narutin.jpg);
	background-size: cover;
}
a:hover{
    transform: scale(1.05);
    color: #ffffff;
}
#container-all{ 
    background-color:#142b3b;
    width: 319px;
    height:324px; 
    margin:5px;
    float:left;
    border: 6px solid black;
    margin-left:25px;
    margin-top:6em;
  
    
  }
  .container-img {
    overflow:hidden;
    margin:0;
    width:310px;
    height:310px;
  }
  .container-img:hover img{
    height: 300px;
    transform:scale(1.2);
      transition:all 1000ms;
    opacity: 0.7;
    
  }
  .container-img img{
    width:100%;
    height: 100%;
    transition:all 600ms;
    overflow:hidden;
  }
  .container-txt{
    width:300px;
    height:300px;
    background-color:#EFFBFB;
    position:absolute;
    top:0;
    margin-top: 0em;
    opacity: 0;
    transition: all 300ms;
    
  
  }
  .container-txt h1{
    text-align: center;
    border-bottom:2px solid gray;
       margin-top: 20px;
  }
  .container-txt p{
    margin-right:15px;
    margin-left:15px;
   font-size: 1.2em;
    margin-bottom:-20px;
    text-align: justify;
  }
  .container-text.img{
    width:10px;
    height:5px;
    overflow:hidden;
    z-index:10;
  }
  .container-txt{
    background-size:30%;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top:102%;
  }
  .container-txt:hover h1{
    transform:scale(1);
    transition: all 800ms;
    opacity: 1;
  }
  .container-txt:hover{
    opacity:0.8;
    transition:all 600ms;
    transform: scale(1);
    height: 316px;
    width:310px;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f07d11;
  }
  h1{
      text-align: center;
  }
  #container-all{ 
    background-color:#142b3b;
    width: 319px;
    height:324px; 
    margin:5px;
    float:left;
    border: 6px solid black;
    margin-left:25px;
    margin-top:6em;
  
    
  }
  .container-img {
    overflow:hidden;
    margin:0;
    width:310px;
    height:310px;
  }
  .container-img:hover img{
    height: 300px;
    transform:scale(1.2);
      transition:all 1000ms;
    opacity: 0.7;
    
  }
  .container-img img{
    width:100%;
    height: 100%;
    transition:all 600ms;
    overflow:hidden;
  }
  .container-txt{
    width:300px;
    height:300px;
    background-color:#EFFBFB;
    position:absolute;
    top:0;
    margin-top: 0em;
    opacity: 0;
    transition: all 300ms;
    
  
  }
  .container-txt h1{
    text-align: center;
    border-bottom:2px solid gray;
       margin-top: 20px;
  }
  .container-txt p{
    margin-right:15px;
    margin-left:15px;
   font-size: 1.2em;
    margin-bottom:-20px;
    text-align: justify;
  }
  .container-text.img{
    width:10px;
    height:5px;
    overflow:hidden;
    z-index:10;
  }
  .container-txt{
    background-size:30%;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top:102%;
  }
  .container-txt:hover h1{
    transform:scale(1);
    transition: all 800ms;
    opacity: 1;
  }
  .container-txt:hover{
    opacity:0.8;
    transition:all 600ms;
    transform: scale(1);
    height: 316px;
    width:310px;
  }